$hoverBreakpoint: 1024px;

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(25% - 1px);
  margin-bottom: 1px;
  background-color: #ddd;
  border: 0;
  cursor: pointer;
  font-size: 1em;

  &:hover {
    @media(min-width: $hoverBreakpoint) {
      background-color: #aaa;
    }
  }

  &:active {
    background-color: #aaa;
  }

  &--is-lighter {
    background-color: #eee;
  }


  &--is-memory {
    width: 30px;
    height: 30px;
    margin-bottom: 2px;
    margin-left: 20px;
    background-color: #ccc;

    &:disabled {
      color: #888;
      pointer-events: none;
    }

  }

  &--is-equal {
    background-color: #6d9dc3;

    &:hover {
      @media(min-width: $hoverBreakpoint) {
        background-color: #4599dd;
      }
    }
  }
}